{% extends "main.html" %}
{% block status %}
    <!-- Creating row with the Sub-title -->
    <div class="row">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
            <h2 class="text-center bg-info">Status</h2>
        </div>
        <div class="col-xs-4">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-6">
            <h2>Network Interface Status</h2>
            <table class="table table-bordered table-condensed">
                <tr>
                    <td class="text-center active"><b>#</b></td>
                    <td class="text-center active"><b>Name</b></td>
                    <td class="text-center active"><b>Status</b></td>
                </tr>
                {% for interface in interfaces %}
                    <tr>
                    <td class="text-center">{{ interface }}</td>
                    <td class="text-center">{{ interfaces[interface].name }}</td>
                    {% if interfaces[interface].status in ["up"] %}
                        <td class="text-center success">{{ interfaces[interface].status }}</td>
                    {% else %}
                        <td class="text-center danger">{{ interfaces[interface].status}}</td>
                    {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <hr>
{% endblock %}