{% extends "main.html" %}
{% block status %}
    <div class="row">
        <div class="col-xs-6">
            <h2 class="text-center">Network Interface Status</h2>
            <table class="table table-bordered table-condensed">
                <tr>
                    <td class="text-center active"><b>#</b></td>
                    <td class="text-center active"><b>Name</b></td>
                    <td class="text-center active"><b>IP Address</b></td>
                    <td class="text-center active"><b>Status</b></td>
                </tr>
                {% for interface in interfaces %}
                    <tr>
                    <td class="text-center">{{ interface }}</td>
                    <td class="text-center">{{ interfaces[interface].name }}</td>
                    {% if interfaces[interface].ip_addr %}
                        <td class="text-center">{{ interfaces[interface].ip_addr }}</td>
                    {% else %}
                        <td class="text-center"></td>
                    {% endif %}
                    {% if interfaces[interface].status == "up" %}
                        <td class="text-center success">{{ interfaces[interface].status }}</td>
                    {% else %}
                        <td class="text-center danger">{{ interfaces[interface].status}}</td>
                    {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-xs-6">
            <h2 class="text-center">Bridge Interface Status</h2>
            <table class="table table-bordered table-condensed">
                <tr>
                    <td class="text-center active"><b>Name</b></td>
                    <td class="text-center active"><b>Interface in</b></td>
                    <td class="text-center active"><b>Interface Out</b></td>
                </tr>
                {% for bridge in bridges %}
                    <tr>
                        <td class="text-center">{{ bridges[bridge].name }}</td>
                        <td class="text-center">{{ bridges[bridge].interface_in }}</td>
                        <td class="text-center">{{ bridges[bridge].interface_out }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><h3>Traffic Control Configuration</h3></div>
                <div class="panel-body">
                    {% for status in tc_status %}
                        <p>{{ status }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}